@import "./variables.scss";
@import "./flex.scss";
@import "./sidebar.scss";
.el-drawer__container div,.el-drawer__header span:focus {
  outline: 0;
}

body {
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}